:root {
  /* COLORS */

  /* Linear gradient (active input border) */

  --Gradient01: hsl(249, 99%, 64%);
  --Gradient02: hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-size: 18px;
  box-sizing: border-box;
}
